body{
    background: #f5deb3;
    background-blend-mode: lighten;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
p{
    font-size:20px;
    width: 600px;
}
canvas{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
